@model shora.Models.Roupa

<h3>De certeza que queres Apagar :</h3>
<div>
   <hr />
    <h4>
        @Html.DisplayFor(model => model.Name)
    </h4>

</div>

<div class="pad">
    <form asp-action="Apagar" style="padding:5">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class=botaoDanger nav-link" />

    </form>
</div>
<div class="pad">
    <a asp-action="Listagem" class="botao nav-link">Voltar a lista de Categorias  </a>
</div>