@model IEnumerable<ShoraWebsite.Models.Reserva>


@if (ViewBag.statusMessages != null)
{
    <div class="alert alert-success alert-dismissible" role="alert" id="statusMessage">
        @foreach (var s in ViewBag.statusMessages)
        {
            <p>@s</p>
        }
        <button type="button" class="btn-close" onclick="closePopUpMessage('statusMessage')"></button>
    </div>
}


@if (ViewBag.errorsMessages != null)
{
    <div class="alert alert-danger alert-dismissible " role="alert" id="errorMessage">
        @foreach (var s in ViewBag.errorsMessages)
        {
            <p>@s</p>

        }
        <button type="button" class="btn-close" onclick="closePopUpMessage('errorMessage')"></button>
    </div>
}

<h2> Lista de Reservas </h2>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <partial name="Listing" model="@Model" />
        </div>


    </div>
</div>