<div class="container mt-5">
    <h1 class="text-center display-2">Painel de Administrador</h1>

    <div class="row">
        <div class="col-6">
            
            <div class="list-group">
                <h2 class="">Configurações Gerais</h2>
                <a class="button-89" role="button" asp-controller="Categorias" asp-action="Listagem">Categorias</a>
               
                <h2 class="">Gestão de Material</h2>
                <a class="button-89" role="button" asp-controller="Cloths" asp-action="Listagem">Roupas</a>
                <a class="button-89" role="button" asp-controller="Reservas" asp-action="Listagem">Reservas</a>

                <h2 class="">Gestão do Website</h2>
                <a class="button-89 " role="button" asp-controller="Accounts" asp-action="Index">Contas</a>
                <a class="button-89" role="button" asp-controller="Home" asp-action="ControlIndex">Pagina Inicial</a>
            </div>

        </div>
        <div class="col-5">
            <img src="/Documentos/FotosWebSite/SHORA_FLAMES.png" style="max-height:500px;" />
        </div>

    </div>
</div>
