@model ShoraWebsite.Models.EmailChangerModel

    <h4>Mudar de Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@ViewBag.Id" />
            <div class="form-group">
                <label> Email Antigo</label>
                @ViewBag.OldEmail
                <input asp-for="OldEmail" class="form-control" value="@ViewBag.OldEmail" type="hidden" />
                <span asp-validation-for="OldEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Novo Email</label>
                <input  asp-for="NewEmail" class="form-control" type="email"/>
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </div>
            <div class="form-group pad">
                <input type="submit" value="Guardar" class="botaoDanger nav-link" />
            </div>
        </form>
    </div>
</div>