@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    
</header>

<body>
   <div class="justify-content-lg-center">
       <img src="/Documentos/FotosWebSite/AcessDeniedMeme.jpg"
   </div>
</body>
