@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da Password?";
}

<h1>@ViewData["Title"]</h1>
<p> Por favor entre em contacto conosco por email<br /> Utilize o email da conta criada!</p>


<div class="row">
 <p>
        <a href="mailto:shora.website@gmail.com?subject=Esqueci-me%20da%20Password">Clica Aqui para nos enviar um Email</a>
     </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
