@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da Password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Entre em contacto conosco por email</h2>

<div class="row">
 <p>
        <a href="mailto:shora.website@gmail.com?subject = Esqueci-me da Password-">Clica Aqui para nos enviar um Email</a>
     </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
