@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sessão na sua Conta";
}

<head>
    <style>

        * {
            margin: 0;
            padding: 0;
        }

        .imgbox {
            display: grid;
            height: 100%;
            padding-top: 25px;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="botao nav-link mb-3">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="nav-link text-dark">Esqueceste-te da Password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="nav-link text-dark">Registar uma nova Conta</a>
                    </p>
                  
                </div>
            </form>
        </section>
    </div>
     <div class="col-md-6 col-md-offset-2">
            <section>
                <div class="imgbox">
                    <img src="/Documentos/FotosWebSite/shoraRegister.png" class="center-fit" />
            </div>
            </section>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
